body{
    margin: 0;
    background-image: url(/image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
}
#cityName{
 font-size: 30px;
}
#btn{
    font-size: 30px;
    background-color: blueviolet;
    color: white;
}
.divv{
    text-align: center;
}
.bacc{
    width: 400px;
   
    height: 400px;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  background-image: url(/download.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
 

}
h2{
    font-size: 30px;
}
#cityName{
    border-color: blueviolet;
    border-radius: 5px;
}
.hidden{
    display: none;
}
.overley{
  background-color: #00000089;
top: 0;
bottom: 0;
left: 0;
right: 0;
 position: fixed;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
  margin: auto;
}
@keyframes l1 {to{transform: rotate(.5turn)}}
  